h1= title
form( method="post")
    div
        div
            span Wisher Name :
            input(type="text", name="wisher", id="editWishWisher")
        div
            span Description :
            input(type="text", name="description", id="editWishDescription")
        div
            span URL (for buying) :
            input(type="url", name="url", id="editWishUrl")
        div
            span Image URL :
            input(type="url", name="imgUrl", id="editWishImgUrl")
        div
            span Approximate price (£) :
            input(type="number", name="price", min="1", max="100", id="editWishPrice")
        div#editWishSubmit
            input(type="submit", value="Send")
